.uvodni_obrazek {
    width: 100%;
    background: url("../images/uvod.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: bottom;
}

.jumbotron {
    margin-top: 2rem;
    padding: 20px;   
}

.jumbotron h1, .jumbotron p {
    color: #333;
}

.responsive_obrazek {
    max-width: 100%;
}
